@import url('https://fonts.googleapis.com/css2?family=Niramit&family=Outfit&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
    color:white;
}

.events {
    background-color: aquamarine;
    border: solid 3px red;
}

.navbar { 
    background-color: #c93b3b;
}

.navbar-toggler {
    height:3rem;
    color:white;
    border-color: white;
}

.navbar-toggler span{
    height:3rem;
    color:white;
    border-color: white;
}

.nav-link {
    color:white;
}

.logo {
    height: 3rem;
}

.bi {
    color:white;
    margin-left: .5rem;
}

.container {
    width:100%;
    margin:0px;
}

.events_img {
    width: 30%;
}

.list_of_events {
    width:100%;
}

.well_events {
    display: inline-block;
    width:30%;
}