@import url('https://fonts.googleapis.com/css2?family=Niramit&family=Outfit&display=swap');


/* All elements ====================================================*/
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
    color:white ;
    display: block}

.container_element {
    position: absolute;
    display: block;
    top: 74px; 
    width: 100%;   
}

.content_without_footer{
    display:flex;
    height: auto;
    min-height: calc(100vh - 124px)
}


/* Navigation Bar ====================================================*/
.navigation {
    position: fixed; top:0; width:100%;
    z-index:1
}
.navbar { background-color: #c93b3b;}
.logo { height: 3rem }

.bi {
    color:white;
    margin-left: 0.5rem }

.form-group {
    width: auto;
    max-width: 300px;
}

.filter-btn { margin-right: 200px } 
.sub_btn {
    height: 2.5rem;
    color: white; 
    background-color: #c93b3b;
}
.sub_btn:hover {
    background-color: #c93b3b;
}

.sub_btn:disabled, .sub_btn[disabled] {
    background-color: #c93b3b;
    border-color:#c93b3b;
    color: white;
}

.sub_btn:focus{
    background-color: #c93b3b;
}

.icon {
    margin-top: -0.2rem;
    color: white;
}

/* Filter dropdown ====================================================*/
.drop-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px;
    border: none;
    border-top:1px solid #db7171;
    background-color: #be3636;

}

.right-align_1 {
    position: absolute;
    right: 1rem;
}

.right-align_2 {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    margin-left:200px;
}

.h-center {
    width: 80%;
    height: 100px;
    margin: auto;
    border: none;
    display: flex;
    flex-direction: row;
}

.navbar-nav { margin-right: 130px }
.nav-button h4 { color: #f6bfbf; font-size: 1.2rem; }
.nav-button {width:20%; min-width: 150px;}
.nav-button a {width:80%; }
.nav-check h4 { color: #f6bfbf; font-size: 1.2rem;}

.nav-check {
    width:40%;
    min-width: 250px;
    margin-left: -2%;
}

.form-check {
    display:inline-block;
    margin-right:0.5rem;
    min-width: 110px;
    width:25%;
    max-width:200px;
}

.list-of-categories {
    height:75px;
    display: table-cell;
    vertical-align: middle;
}

.form-check-input {
    background-color: white;
}
.form-check-input:checked {
    background-color: #c93b3b;
    border-color: white;
}

.nav-slider h4 { color: #f6bfbf; font-size: 1.2rem; text-align: left; margin-bottom: 1rem;}
.nav-slider {
    text-align: center;
    width:40%;
    min-width: 120px;
}

.profile_image {
    margin-left: 0.5rem;
    margin-top: -0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.filt-btn {
    color: white;
    width: 100%;
    text-align: left;
}

.filt-slide {
    color: black;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb { background: #f6bfbf !important; }


/* Events listing ====================================================*/
.events_img {
    width: 100%;
}

.list_of_events {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.well_events {
    width:33.33%;
    overflow: hidden;
    max-height: 20rem;
}

a:link {
    text-decoration: none;
}

.well_events:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    filter: brightness(60%);
}

@media screen and (max-width: 1000px){
    .well_events {
        width:50%;
    }
}

.well_events img{
    width:100%;
    height:20rem;
    object-fit: cover;
    filter: brightness(80%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

.well_events h1{
    font-family: 'Niramit', sans-serif;
    font-size:x-large;
    margin-top: -19rem;
    margin-bottom: 11.47em;
    margin-left: 1.5rem;
    color: white;
    filter: brightness(100%)  
}
.well_events h2{
    opacity: 0;
    transition: 0.5s;
    font-family: 'Outfit', sans-serif;
    font-size:larger;
    margin-top: -17rem;
    margin-bottom: 11.47em;
    margin-left: 1.5rem;
    color: white;
    filter: brightness(100%)  
}
.well_events:hover h2 { opacity: 1; }

/* Event screen ====================================================*/

.details_container {
    padding: 1rem;
    float: left;
}

.details_container h1{
    font-family: 'Niramit', sans-serif;
    min-height:2rem;
    margin-bottom: 1rem;
    
}

.details_container p{
    margin-top: -1rem;
    font-size: 1.5rem;
}
.v_space {
    height:1rem;
}
.v2_space {
    height:3rem;
}

.date_formatting {
    display: inline-block;
}

.text_info {
    width: 40%;
    display:inline-block;
    padding-left: 1rem;
    min-width:300px;
}

.dark_btn {
    background-color:#c93b3b;
    color: white;
    font-size: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    min-width:210px;
}

.dark_btn:hover {
    background-color:#db7171;
}
.dark_btn:focus {
    background-color:#c93b3b;
}

.light_btn {
    position:absolute; top:0; right:0;
    background-color:#c93b3b;
    color: white;
    float: right;
    margin: 1rem;
}

.light_btn:hover {
    background-color:#db7171;
}
.light_btn:focus {
    background-color:#c93b3b;
}

.events_img2 {
    width: 45%;
    margin-bottom: 1rem;
    padding:0.5rem;
    height:15rem;
    object-fit: cover;
    border-radius: 2rem;
}
.img_info {
    margin-top: 1rem;
    margin-left: 1rem;
    width:54%;
    display:inline-block;
    vertical-align: top;
    min-width: 200px;
}


@media screen and (max-width: 789px){
    .text_info {
        width: 100%;
    }
    .img_info {
        width: 100%;
    }
}

/* Footer ====================================================*/
.footer-foot {
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: #c93b3b;
}

.flex-container {
    display: flex;
}

.flex-child {
    width: 200px;
    height: 50px;
    padding:0.2rem;
    display: inline-block;
}
.flex-child h4 {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-top: 2.5px;
    margin-left: 5px;
}


/* Booking details ====================================================*/
#sub {
    z-index: 1;
}

.booking_title {
    font-family: 'Niramit', sans-serif;
}
.booking_container {
    width: 100%;
    height: 100%;
}

.counter {
    width: 3rem;
    text-align: center;
    padding:0.5rem;
}

.counter_container {
    margin-top: 1rem;
}

.side_by_side {
    margin-top: 0.5rem;
    display: flex;
    width:200px;
}

#subtotal {
    margin-left: 0.4rem;
    vertical-align: middle;
    margin-right: 0.4rem;
}

.bg_container {
    position:fixed;
    top:0;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size:cover;
    filter: contrast(150%);
    filter: brightness(40%);
}

.padded_content {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#accordionBooking {
    width:100%;
}

.accordion-button {
    color:white;
    background-color:#c93b3b;
}

.accordion-header {
    color: #c93b3b;
}

.one_rem_right {
    margin-left: 1rem;
}

.double_line_btn {
    background-color: #c93b3b;
    color:white;
}
.double_line_btn:hover {
    background-color: #c93b3b;
    color:black;
}
.hiddenfield {
    display:none;
}

.exp_container{
    display: flex;
    flex-direction: row;
}

.exp_container input{
    width: 5rem;
    padding: 0.375rem .75rem;
}