@import url('https://fonts.googleapis.com/css2?family=Niramit&family=Outfit&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
    color:white;
}

.events {
    background-color: aquamarine;
    border: solid 3px red;
}

.navbar { 
    background-color: #c93b3b;
}

.nav-link {
    color:white;
}

.logo {
    height: 3rem;
}

.bi {
    color:white;
    margin-left: 0.5rem;
}

.container {
    width:100%;
    margin:0px;
    
}

.events_img {
    width: 100%;
}

.list_of_events {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.well_events {
    width:33.33%;
}

@media screen and (max-width: 1000px){
    .well_events {
        width:50%;
    }
}

.well_events img{
    width:100%;
    height:20rem;
    object-fit: cover;    
}

.well_events h1{
    font-family: 'Niramit', sans-serif;
    font-size:x-large;
    margin-top: -19rem;
    margin-bottom: 11.47em;
    margin-left: 1.5rem;
    color: white;
    text-decoration: none;
}