{% extends "base.html" %}
{% block content %}
<div class="booking_container">
    <div class="padded_content">
        <a class="btn light_btn" href="/events/{{ event.id }}">Back</a>
        <h1 class="booking_title">{{ event.name }}</h1>
        {% include 'booking/accordion.html' %}
    </div>
    <div class="bg_container" style="background-image: url('{{ event.image_url }}');"></div>
</div>

    <!-- <form class="form form-horizontal" method="post" >
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create" class="btn btn-primary pull-right" style="clear: both; margin: 10px 0"/>
    </form> -->

{% endblock %}