<form >
    <div>
        <label>Full name:</label>
        <input class="form-control" type="text">
    </div>
    <div>
        <label>Street name:</label>
        <input class="form-control" type="text">
    </div>
    <div>
        <label>House number:</label>
        <input class="form-control" type="number", min="0">
    </div>
    <div>
        <label>Zip:</label>
        <input class="form-control" type="number", min="0">
    </div>
    <div>
        <label>Country:</label>
        <select class="form-control" id="country_select">
            <option value="" disabled selected>Select country</option>
        </select>
    </div>
    <div>
        <label>City:</label>
        <input class="form-control" type="text">
    </div>

</form>