<nav class="navbar navbar-expand-lg navbar-expand">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/static/images/full_event_driven_logo.png" alt="EventDriven brand logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <button type="submit" class="btn sub_btn">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        <a type="submit" class="btn sub_btn" href="{% url 'create_user' %}">Create account</a>

          {% if user.is_authenticadet %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}"> Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %} 
      </ul>
    </div>
  </div>
</nav>