{% extends 'base.html' %}
{% block content %}
    <div id = "login_div">
        <div class="user_image">
            {% if user.image_url == '' %}
            <img src="https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg" alt="">
            {% else %}
            <img src="{{user.image_url}}" alt="">
            {% endif %}
        </div>
        <form class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="login_div2">
                <input type="submit" id="login_btn" class="btn sub_btn" value="Update">
            </div>
            <a class="btn light_btn" href="/">Back</a>
        </form>
    </div>
{% endblock %}