{% extends "base.html" %}
{% block content %}

<div class="event_details_full">
    <div class="details_container">
        <a class="btn light_btn" href="/">Back</a>
        <div class="text_info">
            <h1>{{ event.name }}</h1>
            <div class="date_formatting">
                <p>{{ event.start_date }} - {{ event.end_date }}</p>
            </div>
            <p>{{ event.time }}</p>
            <p class="v2_space"></p>
            <p>Description:</p>
            <p>{{ event.description }}</p>
            <p class="v2_space"></p>
            <p>Location: {{ event.location }}</p>
            <p>Maximum attendees: {{ event.max_attendees }}</p>
            <p class="v2_space"></p>
            <h2>Price: {{ event.price }} kr</h2>
            <a href = "/booking/{{ event.id }}"class="btn dark_btn">Book now</a>
        </div>
        <div class="img_info">
            <p>Similar events:</p>
            <img class="events_img2" src="{{ event.image_url }}">
            <img class="events_img2" src="{{ event.image_url }}">
            <p class="v_space"></p>
            <p class="v_space"></p>
            <p>Images:</p> 
            <img class="events_img2" src="{{ event.image_url }}">
            <img class="events_img2" src="{{ event.image_url }}">
        </div>
    </div>
</div>
{% endblock %}